*{
    margin: 0px;
    padding: 0px;
    /*config para a página toda*/
}

body{
    font-family: 'Calibri',Arial, Helvetica;
}

header{
width: 100%;
float: left;/*posição dos botoes header lado a lado do logo*/
position: fixed;/*comando para fixar*/
background-color: red;
}

/*####MENU####*/

nav{
    font-size: 19px;
}

nav ul{
list-style: none; /*config para tirar as bolinhas*/
}

nav ul li{
    float: left;
    margin-left: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    line-height: 3.6;
}

nav ul .BOTÃO:hover{
    background-color:rgba(255,255,255, 0.2);
}



.menuimg{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 11px;
    float: left;
}

/*@@@@@@ CONTEÚDO @@@@@@*/

main{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.banner_img{
    width: 1000px;
    height: 300px;
    float: left;
    margin-top: 78px;
}

article{
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
}

.fotoshome{
    width: 50%;
    text-align: center;
    float: left;
    margin-bottom: 10px;
}
 
footer{
    background-color: red;
    clear: both;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: white;
}

/*#### SOBRE  ####*/


.asobre{
    width: 80%;
    height: 160px;
    float: left;
    margin-top: 20px;
}

.fotoscoracao{
    width: 20%;
    height: 160px;
    float: left;
}

.fotospeso{
    width: 20%;
    height: 160px;
    float: right;
    text-align: right;}
    
.asobre1{
    text-align: justify;
    width: 80%;
    height: 160px;
    float: right;   
}

/*#### CONTATO  ####*/

#mapa{
    width: 1000px;
    height: 300px;
    padding-top: 78px;
}

#info{
width: 380px;
float: left;
margin-top: 50PX;
}

#formulario{
    width: 590px;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;

}

#formulario label{
    font-size: 18px;
}

#formulario div input{
    width: 590px;
    height: 30px;
    border:1px solid #f2c085;
    background-color: #fae5cc;
    font-size: 15px;
    resize: none; 

}

#formulario div textarea{
    width: 590px;
    height: 80px;
    border:2px solid #f2c085;
    background-color: #fae5cc;
    font-size: 15px;
    resize: none; 
}

#formulario .BOTAO{
    width: 100px;
    height: 35px;
    font-size: 18px;
    color:white;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    float:right;
    border-radius: 10px;
    border-color: red;
    background-color: black;
}

#ENVIAR{
    box-shadow: 2px 2px 3px black;
}

#LIMPAR{
    box-shadow: 2px 2px 3px black;
}

#formulario h2{
font-size: 22px;
color: orange;
text-align: center;
margin: 35px 0;
font-weight: bold;
}

.galeria{
    text-align: center;
    margin:10px;
}

.galeria img{
    padding: 20px;
}